@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@tailwind utilities;

@theme {
    /* Custom font */
    --font-nunito-sans: "Nunito Sans", sans-serif;

    /* Color */
    --color-border-gray: #DDDDDD;
}

html, body, #root {width:100%; margin: 0; padding: 0; overflow-x: hidden; }
#searchBar
{
    background-color: white;
}